<div class="flex-row justify-center">
    <%= image_tag image , alt: "Image 1" , class: "w-20 h-20 object-cover flex-shrink-0" %>
</div>
<h1 class=" font-serif text-center text-5xl p-4">
    <%= title %>
</h1>
<p 
    data-aos="fade-in" 
    data-aos-duration="1500" 
    data-aos-delay="200" 
    data-aos-offset="200" 
    class="p-4 text-center w-70 p-1 font-medium mb-6 font-playfair">
    <%= content %>
</p>