<h1>Uploaded Photos - BE THE PARTY</h1>


<main class="container p-4">
    <h1>Photos</h1>
    <div id="photos" class="grid grid-cols-2 md:grid-cols-3 gap-2">
      <%= render @photos %>
    </div>
</main>

<%= turbo_frame_tag "photo_form" do %>
  <%= render "form", photo: Photo.new %>
<% end %>